<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to the 161 App.  You finally have a say in the matter.</h1>
 </div>
      <div class='row'>
      	<div class='span4 offset8'>
          <%= link_to "Sign me up!", new_school_path, class: "btn btn-large btn-primary" %>
        </div>
      <div class='span4 offset8'></br>
      
        <%= link_to "Log me in!", "#", class: "btn btn-primary btn-large" %>
      </div>
  </div>
    
