<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to the 161 App</h1>
    
      <div class='container'>
        <%= link_to "Sign me up!", new_school_path, class: "btn btn-large btn-primary" %>
      </div></br>
      <div class='container'>
        <%= link_to "Log me in!", "#", class: "btn btn-primary btn-large" %>
      </div>
    
</div>