<footer>
   	
   	<div class="copyright"><p>&copy; Jake Dean, 161 App 2013</p></div>
    
    <div class="crafted">
    	<p>Crafted with Ruby on Rails</p>
    	<div id="rails_pic">
    	<%= link_to image_tag("rails.png", size: "45x45", alt: "Rails"), 'https://rubyonrails.org' %>
    	</div
  </footer> 
